.main-container {
  display: flex;
  flex-direction: column;

  width: 80%;
  padding: 0 10%;
  
  font-family: Arial, Helvetica, Sans-serif; 
  font-weight: normal;
  font-size: 1em;
}

.main-container label {
  padding: 1em 0 0 0;
  font-weight: bold;
}

.main-container app-new-rule-button {
  margin: 1em 0;
}

.main-container app-rule {
  margin-top: 1em;
}